# Node modules
node_modules
public

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# VSCode & Webstorm history directories
.history
.idea


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


