
@font-face {
  font-family: 'Barlow-SemiBold';
  src:  url('fonts/Barlow-SemiBold.eot');
  src:  url('fonts/Barlow-SemiBold.eot') format('embedded-opentype'),
    url('fonts/Barlow-SemiBold.ttf') format('truetype'),
    url('fonts/Barlow-SemiBold.woff') format('woff'),
    url('fonts/Barlow-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}