
@font-face {
  font-family: 'Barlow-Bold';
  src:  url('fonts/Barlow-Bold.eot');
  src:  url('fonts/Barlow-Bold.eot') format('embedded-opentype'),
    url('fonts/Barlow-Bold.ttf') format('truetype'),
    url('fonts/Barlow-Bold.woff') format('woff'),
    url('fonts/Barlow-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}