.content_login_page {
  .icon-logo{
    height: 40px;
    margin-bottom: 15px;
  }
  .login-title{
    font-size: 18px;
    padding: 0 30px;
    margin-bottom: 15px;
    color: #000;
  }
  .authenticator {
    margin-top: 70px;
    .f-fr {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}