html{
  width: 100%;
  min-height: 100%;
  font-size: 0.138888889vw;
}
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.chart-wrapper {
  height: 100vh !important;
}
.high-chart {
  height: 100vh !important;
}
